.Desktop/
.ICEauthority
.IdeaProjects/
.IntelliJIdea14/
.Xauthority
.ammonite/*
.android/
.atanks/
.azuredatastudio
.bash_git_prompt/
.bash_history
.bash_hosts
.bashrc_protected
.bin/aarch64/
.cache/
.ccache/
.cdhist
.cmake
.config/
.dbus/
.ddd
.dmrc
.dotty_history
.emacs.d/.*
.emacs.d/auto-save-list
.emacs.d/desktop*
.emacs.d/elpa
.emacs.d/elpy/
.emacs.d/emacs-workgroups
.emacs.d/history
.emacs.d/logview*
.emacs.d/logview-cache.extmap
.emacs.d/magithub
.emacs.d/network-security.data
.emacs.d/places
.emacs.d/server/
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/transient/
.emacs.d/url
.emacs.d/var
.emacs.d/workspace/
.esd_auth
.fontconfig/
.g8
.gdb_history
.gdfuse
.gkrellm2/
.gkrellm2/data/**
.gnome/
.gnubg/
.gnupg/
.gnuplot_history
.gradle/
.gstreamer-0.10/
.gtk*
.hedgewars/
.idea-build/
.ivy2/
.jabba
.java/
.kde/**
.lesshst
.local/
.m2
.mozilla/
.mtk-bash_history
.mypy_cache/
.npm/
.pgAdmin*
.pgadmin*
.pgadmin_histoqueries
.pgpass
.pki/
.pspg_history
.psql_history
.purple/
.purple/
.python_history
.qt/
.recently-used
.sbt/*/dependency
.sbt/*/plugins/project
.sbt/*/plugins/target
.sbt/*/preferences/
.sbt/*/server
.sbt/*/staging
.sbt/*/swoval-jni
.sbt/*/target
.sbt/*/templates
.sbt/*/zinc
.sbt/0.13
.sbt/boot
.sbt/launchers
.sqlite_history
.sqlsecrets
.ssh/
.supertux2/
.thumbnails/
.thunderbird/
.tmux
.tooling
.visualvm
.vscode
.wireshark/
.xsession-errors
IdeaProjects
g/
proj/
tmp/
*.txt
