.ammonite/cache
.android/
.atanks/
.azuredatastudio
.bash_git_prompt/
.bash_history
.bash_hosts
.bashrc_protected
.bin/aarch64/
.cache/
.ccache/
.cdhist
.cmake
.config/
.cpan/
.dbus/
.ddd
.dmrc
.dotty_history
.emacs.d/.*
.emacs.d/auto-save-list
.emacs.d/desktop*
.emacs.d/elpa
.emacs.d/elpy/
.emacs.d/emacs-workgroups
.emacs.d/history
.emacs.d/logview*
.emacs.d/logview-cache.extmap
.emacs.d/magithub
.emacs.d/network-security.data
.emacs.d/places
.emacs.d/server/
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/transient/
.emacs.d/url
.emacs.d/var
.emacs.d/workspace/
.ddd
.devassistant/
.dreamchess/
.eclipse/
.Desktop/
.devassistant/
.dreamchess/
.eclipse/
.esd_auth
.fontconfig/
.g8
.gdb_history
.gdfuse
.gkrellm2/
g/
.gkrellm2/data/**
.gnome/
.gnubg/
.gnupg/
.gnuplot_history
.gradle/
.gstreamer-0.10/
.hedgewars/
.ICEauthority
.idea-build/
.IdeaProjects/
.IntelliJIdea14/
.ivy2/
.java/
.kde/**
.lesshst
.local/
.mozilla/
.mtk-bash_history
.mypy_cache/
.npm/
.pgAdmin*
.pgadmin*
.pgadmin_histoqueries
.pgpass
.pki/
.pspg_history
.psql_history
.purple/
proj/
.qt/
.recently-used
.sbt/*/dependency
.sbt/*/plugins/project
.sbt/*/plugins/target
.sbt/*/preferences/
.sbt/*/server
.sbt/*/staging
.sbt/*/swoval-jni
.sbt/*/target
.sbt/*/templates
.sbt/*/zinc
.sbt/0.13
.sbt/0.13/dependency
.sbt/0.13/plugins/project
.sbt/0.13/plugins/target
.sbt/0.13/staging
.sbt/0.13/target
.sbt/boot
.sbt/launchers
.sqlite_history
.sqlsecrets
.ssh/
.sqlite_history
.sqlsecrets
.ssh/known_hosts
.ssh/ssh_auth_sock
.supertux2/
.thumbnails/
.thunderbird/
.wireshark/
.Xauthority
.xsession-errors
IdeaProjects
g/
proj/
tmp/
*.txt
.bashrc_protected
.pdm.toml
__pypackages__/

